@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Nunito:wght@400;500;600;700&family=Patrick+Hand+SC&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
:root {
  /* container width */
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
  --transition-delay: 0.8s;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  line-height: 1.7;
  /*background-image: url(../);*/
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
}

section > h2 {
  margin-bottom: 4rem;
}

a {
  cursor: pointer;
  transition: all 400ms ease;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* light */
@media (prefers-color-scheme: light) {
  /* general colors */
  :root {
    --primary-color: #03b5a9;
    --secondary-color: #008f79;
    --bg-color: #ebfffd;
    --bg-variant-color: #d6fff9;
    --text-color: #f7f3f3;
    --accent-color: #161b33;
  }
}
[color-scheme="light"] {
  --primary-color: #03b5a9;
  --secondary-color: #008f79;
  --bg-color: #ebfffd;
  --bg-variant-color: #d6fff9;
  --accent-color: #161b33;
}
/* dark */
@media (prefers-color-scheme: dark) {
  /* general colors */
  :root {
    --primary-color: #02f2e2;
    --secondary-color: #9afef2;
    --bg-color: #06090e;
    --bg-variant-color: #30323d;
    --text-color: #161b33;
    --accent-color: #f7f3f3;
  }
}
[color-scheme="dark"] {
  --primary-color: #02f2e2;
  --secondary-color: #9afef2;
  --bg-color: #06090e;
  --bg-variant-color: #30323d;
  --accent-color: #f7f3f3;
}

@media screen and (max-width: 1024px) {
  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  section > h2 {
    margin-bottom: 2rem;
  }
}
