.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  align-content: center;
}
.about-me {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--primary-color),
    transparent
  );
  display: grid;
  place-items: center;
  padding: 0.4rem;
}
.about-me-image {
  border-radius: 1rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 500ms ease;
  overflow: hidden;
  height: 99%;
  width: 99%;
}
.about-me-image:hover {
  transform: rotate(0);
}
/* medium screens */
@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about-me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
}

/* small screens */
@media screen and (max-width: 600px) {
  .about-me {
    width: 65%;
    margin: 1rem auto 3rem;
  }
}

/* 
  about_me_image: {
    borderRadius: '1rem',
    overflow: 'hidden',
    transform: 'rotate(10deg)',
    transition: 'all 500ms ease',
    '&:hover': {
      transform: 'rotate(0)',
    },
  },
  about_content: {
    display: 'flex',
    justifyContent: 'center',
    flexDirection: 'column',
    //small screen
    [theme.breakpoints.down('sm')]: {
      textAlign: 'center',
    },
    '& p': {
      margin: '2rem 0 2.6rem',
      color: theme.palette.secondary.main,
      //medium screen
      [theme.breakpoints.down('md')]: {
        margin: '1rem 0 1.5rem',
      },
      //small screen
      [theme.breakpoints.down('sm')]: {
        margin: '1.5rem 0',
        fontSize: '13px',
      },
    },
  },
  about_cards: {
    display: 'grid',
    gridTemplateColumns: 'repeat(3, 1fr)',
    gap: '1.5rem',
    //small screen
    [theme.breakpoints.down('sm')]: {
      gridTemplateColumns: '1fr 1fr',
      gap: '1rem',
    },
  },
  about_card: {
    background: `${
      theme.palette.mode === 'light'
        ? background_variant_light
        : background_variant_dark
    }`,
    border: `1px solid transparent`,
    borderRadius: '1rem',
    padding: '2rem',
    textAlign: 'center',
    transition: 'all 500ms ease',
    cursor: 'default',
    '&:hover': {
      background: 'transparent',
      borderColor: theme.palette.primary.main,
    },
    '& h5': { fontSize: '0.95rem' },
    '& small': {
      fontSize: '0.7rem',
      color: theme.palette.secondary.main,
    },
  },
  about_icon: {
    color: theme.palette.primary.main,
    fontSize: '1.4rem',
    marginBottom: '1rem',
  },
})); */
